{% extends 'base.html.twig' %}

{% block title %}Bienvenu(e)
{% endblock %}

{% block body %}
	<!-- <section class="bg-secondary p-2 bg-opacity-50"><div class="card text-bg-dark"> -->
	<section>
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card border-info">
					<img src="{{ asset('medias/image-fond-sans-bord.png') }}" class="card-img" alt="...">
					<div class="card-img-overlay">
						<h5 class="card-title ">Bienvenu(e) sur notre site</h5>
						<p class="card-text"></p>
						<p class="card-text">
							<small></small>
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-info text-bg-dark">
					<div class="card-body">
						<p class="card-text">Si vous cherchez une personne capable de :<br/>
							Concevoir et développer les programmes et applications, déterminer des mesures correctives, analyser des problèmes techniques, établir un cahier des charges, analyser les besoins du client. Maitrise des langages de programmation PHP 5 à 7, HTLM 5 / CSS 3, javascript, Visual Basic pour application, Pascal, Delphi, Fortran, Foxpro, SQL (PostgreSQL, MySQL, MS SQL, SGDB). Maitrise des logiciels de bureautique tels que Word, Excel, Powerpoint, Publisher. Assemblage de PC, remplacement de pièces sur PC et ordinateurs portables.<br/>
							Alors vous êtes au bon endroit. N'hésitez pas à consulter mes posts ou à me contacter.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br/>
	<section>
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card border-info text-bg-dark">
					<img src="{{ asset('medias/SAP_Bannière_large.jpg') }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-user"></i>
							Particuliers : profiter de nos services à la personne</h5>
						<p class="card-text">4 bonnes raisons de faire appel à notre entreprise :</p>
						<ul>
							<li>Pour accéder au savoir d'un professionnel de l'informatique</li>
							<li>Pour bénéficier d'une réduction de 50% sur nos prestations</li>
							<li>Pour la simplicité administrative</li>
							<li>Pour vous réconcilier avec l'informatique</li>
						</ul>
						<a href="{{ path('app_main') }}" class="btn btn-link" tabindex="-1" role="button" aria-disabled="true">Plus d'informations</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-info text-bg-dark">
					<img src="{{ asset('medias/Bannière-pro.jpg') }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-user-tie"></i>
							Professionnels : profiter d'une assistance réactive</h5>
						<p class="card-text"></p>
						<ul>
							<li>Maintenance de parc informatique</li>
							<li>Sauvegardes et récupérations de données</li>
							<li>Créations et hébergements de sites web</li>
							<li>...</li>
						</ul>
						<a href="{{ path('app_main') }}" class="btn btn-link" tabindex="-1" role="button" aria-disabled="true">Plus d'informations</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br/>
	<section>
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card border-info text-bg-dark">
					<img src="{{ asset('medias/Bannière-pro.jpg') }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-blog"></i>
							Blog</h5>
						<p class="card-text">Visionner nos derniers articles.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-info text-bg-dark">
					<img src="{{ asset('medias/Bannière-pro.jpg') }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-suitcase"></i>
							Portfolio</h5>
						<p class="card-text">Visionner nos réalisations</p>
						<div class="row row-cols-2 row-cols-md-3 g-4">
							<div class="col">
								<div class="card border-danger text-bg-dark">
									<img src="{{ asset('medias/Snowtrick.jpg') }}" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Snowtricks</h5>
										<p class="card-text">
											<a href="https://p6.urza-web.fr/" class="btn btn-info" target="_blank">
												<i class="fa-solid fa-eye"></i>
												Voir
											</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card border-danger text-bg-dark">
									<img src="{{ asset('medias/Blog.jpg') }}" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Blog</h5>
										<p class="card-text">
											<a href="https://p5.urza-web.fr/" class="btn btn-info" target="_blank">
												<i class="fa-solid fa-eye"></i>
												Voir
											</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card border-danger text-bg-dark">
									<img src="{{ asset('medias/Bilemo.jpg') }}" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Bilemo</h5>
										<p class="card-text">
											<a href="https://p7.urza-web.fr/" class="btn btn-info" target="_blank">
												<i class="fa-solid fa-eye"></i>
												Voir
											</a>
										</p>
									</div>
								</div>
							</div>
							<a href="{{ path('app_main') }}" class="btn btn-link" tabindex="-1" role="button" aria-disabled="true">Voir plus de réalisations</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<br/>
	<section>
		<!-- <div class="card mb-3" style="max-width: 540px;"> -->
		<div class="card mb-3 border-info text-bg-dark">
			<div class="row g-0">
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10480.563072688314!2d1.9236385!3d48.9508054!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x53161bb4ffa08f05!2sMonsieur%20SERGE%20PILLAY!5e0!3m2!1sfr!2sfr!4v1670525152668!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							<i class="fa fa-map-marker"></i>
							13 Rue du Parc, 78920 Ecquevilly<br/>
							<i class="fa-regular fa-clock"></i>
							Horaires :
							<ul>
								<li>Lundi 08:00–17:00</li>
								<li>Mardi 08:00–17:00</li>
								<li>Mercredi 08:00–17:00</li>
								<li>Jeudi 08:00–17:00</li>
								<li>Vendredi 08:00–17:00</li>
								<li>Samedi 08:00–17:00</li>
								<li>Dimanche Fermé</li>
							</ul><br/>
							Me contacter :
							<i class="fa-solid fa-globe"></i>
							<a href="https://monsieur-serge-pillay.business.site/" target="_blank">Site Business</a>

						</p>
						<p class="card-text">
							<small class="text-muted"></small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr/>
	<hr/>
{% endblock %}
